<%- include ("partials/_header") %>

    <audio controls autoplay loop hidden>        
        <source src="sound/fondo.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <div class="col-12">

        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-l3 d-flex justify-content-center p-2">
                    <div class="card glass" style="width: 18rem">
                        <img src="img/bandejaDHD.png" class="card-img-top" alt="..." />
                        <div class="card-body" style="color:rgb(255, 255, 255);background-color:  rgb(22, 20, 20);">
                            <h5 class="card-title">Ala - Desvio Horizontal Derecho</h5>
                            <p class="card-text">
                                Ingrese los Valores Obtenidos en el campo para el calculo.
                            </p>
                            <a class="btn btn-primary" href="https://bandejas.sotano.digital/alaDesvioHorizontalDerecho" role="button">Realizar el
                                Calculo</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-l3  d-flex justify-content-center p-2">
                    <div class="card glass" style="width: 18rem">
                        <img src="img/bandejaDHI.png" class="card-img-top" alt="..." />
                        <div class="card-body" style="color:rgb(255, 255, 255);background-color:  rgb(22, 20, 20);">
                            <h5 class="card-title">Ala - Desvio Horizontal Izquierdo</h5>
                            <p class="card-text">
                                Ingrese los Valores Obtenidos en el campo para el calculo.
                            </p>
                            <a class="btn btn-primary" href="https://bandejas.sotano.digital/alaDesvioHorizontalIzquierdo" role="button">Realizar el
                                Calculo</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-l3  d-flex justify-content-center p-2">
                    <div class="card glass" style="width: 18rem">
                        <img src="img/bandejaDVD_vacio.png" class="card-img-top" alt="..." />
                        <div class="card-body" style="color:rgb(255, 255, 255);background-color:  rgb(22, 20, 20);">
                            <h5 class="card-title">Ala - Desvio Vertical Derecho</h5>
                            <p class="card-text">
                                Ingrese los Valores Obtenidos en el campo para el calculo.
                            </p>
                            <a href="https://bandejas.sotano.digital/alaDesvioVerDerecho" class="btn btn-primary">Realizar el Calculo</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-l3 d-flex justify-content-center p-2">
                    <div class="card glass" style="width: 18rem">
                        <img src="img/bandejaDVI_vacio.png" class="card-img-top" alt="..." />
                        <div class="card-body" style="color:rgb(255, 255, 255);background-color:  rgb(22, 20, 20);">
                            <h5 class="card-title">Ala - Desvio Vertical Izquierdo</h5>
                            <p class="card-text">
                                Ingrese los Valores Obtenidos en el campo para el calculo.
                            </p>
                            <a href="https://bandejas.sotano.digital/alaDesvioVerIzquierdo" class="btn btn-primary">Realizar el Calculo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include ("partials/_footer") %>
    </div>