<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MZHHJM3TLG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-MZHHJM3TLG');
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Electric APB</title>

    <link rel="icon" type="image/png" href="img/logo-icon.png" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.14.1/sweetalert2.min.css" />
    <!-- <link rel="stylesheet" href="/css/main.css" /> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.14.1/sweetalert2.all.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/estilos.css">
    <!-- <link rel="stylesheet" href="css/fondobosque.css"> -->
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
        }
        
        .bg {
            /* The image used */
            background-image: url("img/fondo.jpg");
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: black;
        }
    </style>
</head>

<body class="bg">

    <style>
        .navbar-dark .navbar-nav .nav-link:hover,
        .navbar-dark .navbar-nav .nav-link:focus {
            color: rgba(210, 238, 27, 0.75);
            font-weight: bold;
        }
    </style>

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg " style="padding-left:15px; ">
        <a href="http://sotano.digital" class="navbar-brand ">
            <img src="img/logo-icon.png " width="30 " height="30 " class="d-inline-block align-top " alt=" " /> Sotano Digital</a>
        <button class="navbar-toggler " type="button " data-bs-toggle="collapse " data-bs-target="#navbarNavDropdown " aria-controls="navbarNavDropdown " aria-expanded="false " aria-label="Toggle navigation ">
            <span class="navbar-toggler-icon "></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNavDropdown ">
            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <a class="nav-link " id="navlink_principal " href="/ ">Bandejas <span
                            class="sr-only ">(current)</span></a>
                </li>
                <!-- <li class="nav-item ">
          <a class="nav-link " id="navlink_litigantes " href="/View_ListaLitigantes ">Cañerias</a>
        </li> -->
                <li class="nav-item ">
                    <a class="nav-link " href="/#about ">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>